<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/assets/styles/index.css"/>
  <title>MarkedList</title>
  <style>
    .marked {
      color: #efc14e;
    }
  </style>
</head>
<body>
<div id="app" style="margin-top: 2rem">
  <div class="container">
    <div class="form-group">
      <input type="search" v-model="search"/>
    </div>
    <ul>
      <!--      data driven approach     -->
      <li v-for="email in markedEmails" :key="email.name" :class="{marked: email.marked}">{{ email.name }}</li>

      <!--      event driven approach     -->
      <!--      <li v-for="email in emails" :key="email" :class="{marked: isMarked(email, search)}">{{ email }}</li>-->
    </ul>
  </div>
</div>

<script type="module" src="./script.js"></script>
</body>
</html>
